<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>  
    </startup>
  <appSettings> 
    <add key="brushCur" value="Yellow"/>
    <add key="brushValue1" value="Red"/>
    <add key="brushValue2" value="Purple"/>
    <add key="brushValueForString" value ="Blue"/>

    <add key="valueOfTest0" value="25"/>
    <add key="valueOfTest1" value="25"/>

    <add key ="sqlStringUpdate" value="updatetezfjdfj" />

    <add key="listOfString" value="Cedric,Dick,test"/>

    <add key="listOfColumnForString" value="0"/>

    <add key ="listOfColumnChangeAllCell" value="1"/>

    <add key ="listOfColumnChangeIntegerAsCellDetail" value="2"/>
    
  </appSettings>
  


</configuration>
